@import url(../public/fonts/inter-web/stylesheet.css);

:root {
  --accent-color: #4c8874;
  --accent-dark: #37715d;
  --text-primary: #576071;
  --text-grey: #434a57;
  --text-white: #ffffff;

  --text-sm: clamp(0.75rem, 1.5vw, 1rem);

  --transition: all 0.15s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Inter 18pt", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 1320px;
  padding: 20px 40px;
}

.container-fluid {
  margin: auto;
  max-width: 100%;
}

.me-10 {
  margin: 0 10px 0 0;
}

.ms-10 {
  margin: 0 0 0 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.col-2 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: min-content;
  grid-template-rows: repeat(10, min-content);
}

.text-primary {
  color: var(--text-primary);
}

.text-grey {
  color: var(--text-grey);
}

.navbar {
  margin-left: 3.5rem;
}

.navbar-nav {
  gap: 2rem;
}

.navbar-nav > .nav-item {
  position: relative;
}

.navbar-nav > .nav-item:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.sub-menu {
  position: absolute;
  columns: 1 auto;
  column-gap: 1.5rem;
  background-color: var(--text-white);
  box-shadow: 0 0.4375rem 1.25rem #d0d0c452;
  border-radius: 14px;
  padding: 30px;
  min-width: max-content;
  top: 30px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.185s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu.col-2 {
  columns: 2 auto;
}

.sub-menu li {
  margin-bottom: 0.75rem;
}

.sub-menu li:last-child {
  margin-bottom: 0;
}

.nav-item {
  font-size: var(--text-sm);
  font-weight: 500;
  transition: var(--transition);
}

.nav-item:hover {
  color: var(--accent-color);
}

.header-logo-text {
  font-size: 1.35rem;
  color: var(--text-grey);
  font-weight: 600;
  margin: 0 0 0 0.5rem;
}

.header {
  background-color: var(--text-white);
  position: sticky;
  top: 0;
  z-index: 99;
}

.btn {
  cursor: pointer;
  border: none;
  background: transparent;
  border-radius: 50px;
  color: var(--text-white);
  padding: 15px 35px;
  transition: var(--transition);
  font-size: 1rem;
}

.btn.btn-slim {
  padding: 10px 18px;
}

.btn-outline {
  background: transparent;
}

.btn-outline.btn-primary {
  background: transparent;
  border: 1px solid var(--accent-color);
}

.btn-outline.btn-black {
  background: transparent;
  border: 1px solid black;
  color: black;
}

.btn-outline.btn-black:hover {
  background-color: black;
  color: var(--text-primary);
}

.btn.btn-primary {
  background-color: var(--accent-color);
}

.btn.btn-primary:hover {
  background-color: var(--accent-dark);
}

.btn.btn-black {
  background-color: black;
  color: var(--text-white);
}

.btn.btn-text {
  border: none;
  background: transparent;
  padding: 0;
}

.btn.btn-text:hover {
  border: none;
  background: transparent;
}

.btn.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: clamp(3em, 1vw, 4em);
  width: clamp(3em, 1vw, 4em);
}

.btn-outline.btn-circle {
  background: transparent;
  color: var(--accent-color);
}

.btn-outline.btn.btn-circle.btn-primary:hover {
  background-color: var(--accent-color);
  color: var(--text-white);
}

.hero-title {
  font-size: clamp(2rem, 7vw, 6rem);
  line-height: clamp(2rem, 8vw, 6rem);
  color: var(--text-white);
  white-space-collapse: collapse;
  font-weight: 500;
}

.hero-dsc {
  padding: 20px 20px 0 0;
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: 2rem;
  margin-bottom: 2.5rem;
  word-wrap: normal;
}

.hero-buttons {
  margin-bottom: 2rem;
}

.hero-right-top {
  margin: auto 0;
}

.highlight-accent {
  color: var(--accent-color) !important;
}

.hero-right {
  color: rgba(255, 255, 255, 0.7);
}

.hero {
  min-height: 400px;
  background-color: #171a1e;
  border-radius: 30px;
  padding: 50px 100px;
  position: relative;
  z-index: 1;
}

.parallax-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/hero-wave.png);
  background-size: cover;
  background-position: center;
  transform: translateY(0);
  will-change: transform;
  z-index: -1;
}

.hero-content {
  min-height: inherit;
}

.hero-buttons {
  gap: 2rem;
}

.hero-features {
  gap: 2rem;
}

.clients-content img {
  height: 16%;
  width: 16%;
}

.service-card {
  min-height: 250px;
  width: 32%;
  border-radius: 30px;
  padding: 25px;
  text-align: center;
  background-color: #f6f9fc;
}

.service-cards {
  justify-content: space-between;
}

.service-title {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 600;
  margin: 1.25rem 0;
  color: #121519;
}

.service-dsc {
  color: var(--text-grey);
}

.service-btn {
  margin: 2rem 0 0 0;
}

.services-title {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 600;
  text-align: center;
  margin: 2rem 0;
}

.industries-right {
  width: 50%;
  border-radius: 30px;
}

.industries-left {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.industries-content {
  column-gap: 2rem;
}

.industries-right img {
  border-radius: 30px;
  width: 100%;
}

.accordion-item {
  margin: 0 0 2rem 0;
}

.accordion-item-title {
  color: #434a57;
  cursor: pointer;
  margin: 0 0 1rem 0;
  font-weight: 500;
  font-size: clamp(1.5rem, 5vw, 1.75rem);
}

.accordion-item-dsc {
  height: 0;
  overflow: hidden;
  transform-origin: top;
  visibility: hidden;
  transition: all 0.25s linear;
  color: #576071;
}

.accordion-item-dsc-expanded {
  height: 60px;
  visibility: visible;
}

.accordion-title-icon {
  transition: transform 0.25s linear;
}

.rotate-icon {
  transform: rotate(-180deg);
}

.industries-title-wrapper {
  text-align: center;
  margin: 2.5rem 0;
}

.industries-title {
  font-size: clamp(1.5rem, 6vw, 2.25rem);
  font-weight: 600;
  margin: 0 0 0.75rem 0;
}

.industries-subtitle {
  color: #434a57;
}

.skill-card {
  background-color: #f6f9fc;
  border-radius: 30px;
  padding: 25px;
  width: 220px;
  height: 220px;
  text-align: center;
  justify-content: space-evenly;
}

.skill-card-img-wrapper {
  max-height: 48px;
  max-width: 48px;
  margin: 0 0 0.35rem 0;
}

.skill-card-title-wrapper {
  margin: 0 0 0.25rem 0;
}

.skill-card-img {
  width: 48px;
}

.skill-card-title {
  color: #171a1e;
  font-weight: 500;
}

.skill-card-dsc {
  font-size: 0.85rem;
  color: #434a57;
}

.skills-title {
  text-align: center;
  font-size: clamp(1.5rem, 6vw, 2.25rem);
  font-weight: 600;
  margin: 2.5rem;
}

.benefits-left {
  width: 40%;
}

.benefits-right {
  width: 60%;
}

.benefits-title-wrapper {
  margin: 0 0 1rem 0;
}

.benefits-title {
  font-size: clamp(1.5rem, 6vw, 2.25rem);
  font-weight: 600;
}

.benefits-subtitle {
  color: #434a57;
  margin: 0.5rem 0 0 0;
}

.form-title {
  font-size: clamp(1.25rem, 3vw, 1.85rem);
  font-weight: 600;
  margin: 2rem 0 1rem 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.15rem 0;
}

.form-label {
  margin: 0 0 0.35rem 0;
}

.form-control {
  min-height: 50px;
  border-radius: 20px;
  border: 1px solid #d7dde2;
  padding: 10px;
  font-family: "Inter 18pt", sans-serif;
}

.form-control:active,
.form-control:focus {
  outline: none;
  border: 1px solid black;
}

.form-btn {
  margin: 3rem 0 0 0;
}

.container:has(.benefits-content),
.container:has(.footer-content) {
  background-color: #f6f9fc;
  padding: 4rem 3rem;
}

.benefits-content {
  max-width: fit-content !important;
}

textarea.form-control {
  min-height: 120px;
}

.bg-white {
  background-color: #ffffff;
  color: #576071;
}

.bg-white .benefit-card-title {
  color: #121519;
}
.bg-accent .benefit-card-title {
  color: var(--text-white);
}

.bg-accent {
  background-color: var(--accent-color);
  color: #ffffffb3;
}

.benefit-card {
  height: 300px;
  width: 100%;
  border-radius: 30px;
  padding: 1.75rem;
}

.benefits-right {
  display: grid;
  gap: 1.25rem;
  padding: 0 0 0 5rem;
  grid-template-columns: repeat(2, 1fr);
  max-height: 300px;
}

.benefit-card-title-wrapper {
  font-size: clamp(1.15rem, 3vw, 1.5rem);
  font-weight: 500;
  margin: 1rem 0;
}

.footer-content {
  background-image: url(../images/hero-wave.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 4rem 3rem;
  background-color: #171a1e;
  color: #d7dde2;
}

.footer-content .header-logo-text {
  color: #d7dde2;
}

.footer-left {
  width: 40%;
}

.footer-right {
  width: 50%;
}

.footer-logo-wrapper {
  margin: 0 0 1rem 0;
}

.footer-dsc {
  font-size: 0.85rem;
}

.footer-nav-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 1.65rem 0;
}

.footer-nav-item {
  font-size: 0.9rem;
  margin: 0 0 0.75rem 0;
  transition: color 0.25s linear;
}

.footer-nav-item:hover {
  color: var(--accent-color);
}

.footer-input-group {
  margin: 1.5rem 0 0 0;
  min-width: 85%;
  border-radius: 50px;
  padding: 0.5rem 0.5rem 0.5rem 0;
  border: 1px solid #ffffff40;
}

.footer-input-group input[type="email"] {
  padding: 0.5rem;
  border: none;
  background: transparent;
  min-height: 2rem;
  flex: 1;
  outline: none;
  caret-color: #d7dde2;
  color: #d7dde2;
}

.menu-icon {
  font-size: 2.25rem;
  margin: 0 0 0 2rem;
  max-width: fit-content;
  max-height: fit-content;
  display: none;
}

@media (max-width: 1200px) {
  .hero {
    padding: 30px 60px;
  }
}

@media (max-width: 992px) {
  .hero-content {
    flex-direction: column;
  }

  .hero-title,
  .hero-dsc {
    text-align: center;
  }

  .hero-buttons,
  .hero-features {
    justify-content: center;
  }

  .hero-content {
    justify-content: space-around;
  }

  .skills-content {
    justify-content: center;
    gap: 20px;
    margin: 0 0 2.5rem 0;
  }

  .benefits-content {
    flex-direction: column;
  }

  .benefits-right,
  .benefits-left {
    width: 100%;
  }

  .benefits-right {
    padding: 0;
    margin: 4rem 0 0 0;
    min-height: fit-content;
  }

  .skill-card {
    width: 31%;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .container {
    padding: 3rem 2rem !important;
  }

  .navbar {
    display: none;
  }

  .industries-content {
    flex-direction: column;
  }

  .industries-left,
  .industries-right {
    width: 100%;
  }

  .footer-content {
    padding: 2rem;
    flex-direction: column;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }

  .footer-right {
    margin: 2rem 0 0 0;
  }

  .header {
    padding: 2rem !important;
  }

  .services-cards {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .service-card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 1rem !important;
  }

  .skill-card {
    width: 100%;
  }
}
